<header>
    <div>
      <a routerLink="/">
        <img src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.22.8/mercadolibre/logo__large_plus@2x.png" alt="">
      </a>
      <input type="text" placeholder="Buscar productos, marcas y más…">
      <img src="https://http2.mlstatic.com/D_NQ_988105-MLA54625219687_032023-OO.webp" alt="">
    </div>
    <div>
        <span>Categorias <ion-icon name="chevron-down-outline"></ion-icon></span>
        <ul id="menuCentro">
            <li>Historial</li>
            <li>Tiendas oficiales</li>
            <li>Ofertas de la semana</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul id="menuDerecha">
            <li class ="flechaAbajo">Cuenta <ion-icon name="chevron-down-outline"></ion-icon></li>
            <li>Mis compras</li>
            <li class ="flechaAbajo">Favoritos <ion-icon name="chevron-down-outline"></ion-icon></li>
            <li><ion-icon id="campana" name="notifications-outline"></ion-icon></li>
        </ul>
    </div>
</header>
